# Node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock


# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.db-journal

# Logs
logs/
*.log
*.log.*

# Build artifacts
dist/
build/

# Temporary files
*.tmp
*.temp
*.swp
*.swo

# Editor and IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage reports
coverage/

# Local development
*.local

#env
.env